{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <h1 class="m-2">Factures des 30 derniers jours (total : {{ totalHTPeriod }}€)</h1>

    {#{% set totalHT = 0 %}#}
    {#{% for order in order %}#}
        {#{% set totalHT = totalHT + order.total %}#}
    {#{% endfor %}#}

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Stock vendu</th>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Total facturé HT</th>
            <th scope="col">Total facturé TTC</th>
        </tr>
        </thead>
        <tbody>

        {% for order in orders %}
            <tr>
                <td>
                    <ul class="mb-0">
                        {% for name, value in order.itemsPurchased %}
                            <li>{{ value }} {{ name }} ({{ gem_prices[name]}}€HT l'unité)</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
                <td>{{ order.customerLastname | upper }} {{ order.customerFirstname }}</td>
                <td>{{ order.total |number_format(2, ",", ".") }}€</td>
                <td>{{ (order.total * 1.2)|number_format(2, ",", ".") }}€</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
